:root {
  --base-color: #FFFFFF;
  --secondary-bg-color: #F7F7F7;
  --main-theme-color: #08A6E4;
  --vibrant-main-theme-color: #07ACE6;
  --secondary-theme-color: #FB3B64;
  --tertiary-theme-color: #55DFB4;
  --main-text-color: #000000;
  --info-text-color: #A5A5A5;
  --menu-shadow-color: #00000029;
  --element-shadow-color: #07ACE629;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1, h2, h3 {
  font-family: Raleway, sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1352px;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 700;
  border-radius: 50px;
}

.button__main-theme {
  color: var(--base-color);
  background: var(--main-theme-color);
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--base-color);
  box-shadow: 0 3px 6px var(--menu-shadow-color);
}

.header .container {
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: var(--main-theme-color);
}

.page-nav {
  width: 40%;
}

.page-nav__list {
  display: flex;
  justify-content: space-between;
}

.page-nav__list-item a {
  display: inline-block;
  padding: 28px 12px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--info-text-color);
  border-bottom: 3px solid var(--base-color);
}

.page-nav__list-item a:hover {
  color: var(--main-text-color);
  border-bottom: 3px solid var(--main-theme-color);
}

/* LANDING PAGE */

.landing-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../assets/background.png") no-repeat bottom/contain;
}

.landing-page .container {
  flex-flow: column wrap;
  height: 50%;
}

.landing-page__title {
  font-size: 49px;
  color: var(--main-text-color);
}

.landing-page__text {
  margin: 30px;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-text-color);
}

.button__cta-button {
  padding: 22px 155px;
}