$color-base: #ffffff;
$color-secondary-bg: #F7F7F7;
$color-theme-main: #08A6E4;
$color-theme-main-vibrant: #07ACE6;
$color-theme-secondary: #FB3B64;
$color-theme-tertiary: #55DFB4;
$color-text-main: #000000;
$color-text-info: #A5A5A5;
$color-shadow-menu: #00000029;
$color-shadow-element: #07ACE629;
$width-offer-box: 27%;
$height-offer-box: 60vh;
